/* トップページ調整 */
.meetworker_area .incharge {
	width: 30vw;
	margin: 15px auto 0;
	font-size: 1.4rem;
	font-weight: bold;
	color: #D10000;
	text-align: right;
}

@media screen and (max-width: 830px) {
	.meetworker_area .incharge {
		width: 80%;
	}
}

/* フォーム調整 */
.form_area .form_table tr td input[type="text"].birth-small,
.form_area .form_table tr td input[type="tel"].tel-small {
	width: 15%;
}

@media screen and (max-width: 830px) {

	.form_area .form_table tr td input[type="text"].birth-small,
	.form_area .form_table tr td input[type="tel"].tel-small {
		width: 25%;
	}
}

.form-hyphen,
.form-split {
	vertical-align: middle;
}

.form_area .form_table tr td select {
	height: 40px;
}

.form_area .form_table tr td.hissu:before {
	width: 54px;
	height: 20px;
	background-size: contain;
	background-repeat: no-repeat;
	vertical-align: middle;
}