@charset "utf-8";
@import url("https://use.typekit.net/qow0uja.css");
.din{
	font-family: din-condensed, sans-serif;
	font-weight: 400;
	font-style: normal;
}


$color_basetext: #000000;

*{margin: 0;padding: 0}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
outline: none;
font-size: 100%;
color: inherit;
font-weight: normal;
font: inherit;
vertical-align: baseline;
text-decoration: none;
box-sizing: border-box;
}
strong{font-weight: bold;}
html{
    font-size: 62.5%;
}
body{
	font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
    font-style: normal;
    font-size: 16px;
    font-size: 1.6em;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.05em;
    color: $color_basetext;
	background-color: #ffffff;
	&.open{
		overflow: hidden;
	}
}
input{border: none;outline: none;}
input[type="submit"]{
	-webkit-appearance: none;
	border-radius: 0;
	cursor: pointer;
}
textarea{resize: none;}
ul{list-style-type: none;}
blockquote{
	color: #191919;
	background-color: #f2f2f2;
	position: relative;
	margin-top: 2rem;
	padding: 20px 20px 20px 70px;
	&:before{
		position: absolute;
		top: 25px;
		left: 35px;
		content: "\022";
		font-size: 3rem;
		color: #d8d8d8;
	}
}
a,a *{
	transition: opacity 0.75s;
}
a:hover, a:hover *{
	opacity: 0.7;
	filter: alpha(opacity=70);
}
@media screen and (max-width: 559px){
	a:hover, a:hover p, a:hover img{
		opacity: 1;
		filter: alpha(opacity=100);
	}
}


/*  Adobefont対策  */
/*
html {
	visibility: hidden;
}
html.wf-active, html.loading-delay {
	visibility: visible;
}
*/

/*  INVIEW.js  */
.inview{
	opacity: 0;
	transform: translateX(80px);
	transition: 0.4s cubic-bezier(.06,.4,.46,1.01);
	&.rev_pc{
		transform: translateX(-80px);
		@media screen and (max-width: 559px){
			transform: translateX(80px);
		}
	}
	&.rev_sp{
		@media screen and (max-width: 559px){
			transform: translateX(-80px);
		}
	}
	&.is-show{
		opacity: 1;
		transform: translateX(0);
	}
	&.late01{
		transition-delay: 0.3s;
		@media screen and (max-width: 559px){
			transition-delay: 0s;
		}
	}
	&.late02{
		transition-delay: 0.6s;
		@media screen and (max-width: 559px){
			transition-delay: 0s;
		}
	}
	&.late03{
		transition-delay: 0.9s;
		@media screen and (max-width: 559px){
			transition-delay: 0s;
		}
	}
}
.inviewsp{
	opacity: 0;
	transform: translateX(80px);
	transition: 0.4s cubic-bezier(.06,.4,.46,1.01);
	.inview{
		opacity: 1;
		transform: translateX(0);
	}
	&.is-show{
		opacity: 1;
		transform: translateX(0);
	}
}



/*  SLICK  */
.slick-dots{
	bottom: 30px;
}
#slider{
	.slideimg{
		height: 100vh;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		margin: 0;
	}
}



.loading{
	width: 100%;
	height: 100vh;
	background-image: url(../img/loading.jpg);
	background-position: center center;
	background-size: cover;
	@media screen and (max-width: 559px){
		background-image: url(../img/loading_sp.jpg);
	}
}

.header_pc{
	width: 100%;
	height: 90px;
	position: fixed;
	top: 0;left: 0;
	background-color: #000;
	border-bottom: solid 1px #000;
	z-index: 50;
	display: none;
	.headwrap{
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		.headlogo{
			margin: auto;
			margin-left: 25px;
		}
		.textwrap{
			height: 60px;
			margin: 0 20px;
			border-right: solid 1px #fff;
			padding-right: 40px;
			transform: skew(-30deg);
		}
		.text{
			height: 60px;
			display: flex;
			flex-direction: column;
			align-items: center;
			color: #fff;
			transform: skew(30deg);
			&.mgl{
				margin-left: auto;
			}
			.headtext01{
				font-size: 2rem;
				margin: auto;
				margin-bottom: 0;
			}
			.headtext02{
				font-size: 1.2rem;
				margin: auto;
				margin-top: 6px;
			}
		}
		.headertel{
			display: flex;
			align-items: center;
			margin: 0 15px;
			margin-right: 30px;
			img{
				margin: auto;
			}
		}
		.contactwrap{
			height: 100%;
			background-color: #fff;
			transform: skew(-30deg);
		}
		.headercontact{
			height: 100%;
			display: flex;
			align-items: center;
			transform: skew(30deg);
			padding-left: 10px;
			padding-right: 20px;
			img{
				width: 68px;
				height: auto;
				margin: auto 15px;
			}
		}
		.headerentry{
			margin: auto 30px;
			margin-right: 20px;
		}
	}
}
.header_sp{
	width: 100%;
	height: 80px;
	position: fixed;
	top: 0;left: 0;
	background-color: #000;
	z-index: 50;
	display: none;
	.headwrap{
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		background-color: #000;
		position: relative;
		z-index: 50;
		.headlogo{
			margin: auto;
			margin-left: 20px;
		}
		.headerentry{
			margin: auto;
			margin-right: 20px;
		}
	}
	.header_spmenu{
		.sp_menuwrap{
			width: 100%;
			height: 30px;
			display: flex;
			align-items: center;
			border-top: solid 1px #525252;
			background-color: #000;
			position: relative;
			z-index: 50;
			.linewrap{
				width: 36px;
				height: 100%;
				display: flex;
				align-items: center;
				margin: auto;
				.line{
					width: 100%;
					height: 1px;
					background-color: #fff;
					position: relative;
					margin: auto;
					&:before,&:after{
						content: "";
						width: 100%;
						height: 1px;
						background-color: #fff;
						position: absolute;
						left: 0;top: -5px;
					}
					&:after{
						top: 5px;
					}
				}
			}
		}
		.sp_menu{
			width: 100%;
			height: calc(100vh - 110px);
			background-color: rgba(0, 0, 0, 0.85);
			position: fixed;
			left: 0;bottom: 100%;
			transition: bottom 0.3s;
			z-index: 20;
			overflow-y: auto;
			&.open{
				bottom: 0;
			}
			.menuwrap{
				width: 75%;
				margin: 0 auto;
				.block{
					width: 100%;
					padding: 20px 0;
					border-bottom: solid 1px #fff;
					color: #fff;
					&.mgt{
						margin-top: 30px;
					}
					.text01{
						font-size: 2.6rem;
						text-align: center;
					}
					.text02{
						font-size: 1.6rem;
						text-align: center;
						margin-top: 10px;
					}
				}
				.headertel{
					width: 100%;
					padding: 30px 0;
					display: flex;
					align-items: center;
					img{
						margin: auto;
					}
				}
				.headercontact{
					width: 80%;
					margin: 0 auto;
					padding: 20px 0;
					display: flex;
					align-items: center;
					background-color: #fff;
					transform: skew(-30deg);
					img{
						margin: auto;
						transform: skew(30deg);
					}
				}
				.closewrap{
					width: 100%;
					margin: 30px 0;
					padding: 20px 0;
					display: flex;
					align-items: center;
					img{
						margin: auto;
					}
				}
			}
		}
	}
}

.fixbtn_pagetop{
	position: fixed;
	left: 20px;bottom: 25px;
	z-index: 50;
	display: none;
}
.fixbtn_movie{
	position: fixed;
	right: 20px;bottom: 25px;
	z-index: 50;
	display: none;
	@media screen and (max-width: 559px){
		right: 12px;bottom: 12px;
		img{
			width: 120px;
			height: auto;
		}
	}
}


/*  pagination  */
.paging_wrap,.paging_wrap_list{
	width: 90%;
	margin: 90px auto 0;
	.paging_new{
		position: relative;
		display: flex;
		align-items: flex-end;
		.prev,.next,.page a,.page span{
			font-family: din-2014, sans-serif;
			font-size: 2rem;
			font-weight: 400;
			color: $color_basetext;
			&.current{
				opacity: 0.5;
				pointer-events: none;
			}
			@media screen and (max-width: 559px){
				font-size: 1.8rem;
			}
		}
		.prev{
			font-size: 2rem;
			text-decoration: none;
			color: $color_basetext;
			position: absolute;
			left: 0;
			@media screen and (max-width: 559px){
				font-size: 1.6rem;
			}
			&:before{
				content: "";
				display: inline-block;
				background: url(../img/common/arrow2.svg) no-repeat;
				width: 58px;
				height: 16px;
				margin-right: 20px;
				@media screen and (max-width: 559px){
					display: none;
				}
			}
		}
		.next{
			font-size: 2rem;
			text-decoration: none;
			color: $color_basetext;
			position: absolute;
			right: 0;
			@media screen and (max-width: 559px){
				font-size: 1.6rem;
			}
			&:after{
				content: "";
				display: inline-block;
				background: url(../img/common/arrow.svg) no-repeat;
				width: 58px;
				height: 16px;
				margin-left: 20px;
				@media screen and (max-width: 559px){
					display: none;
				}
			}
		}
		.page{
			display: flex;
			margin: auto;
			*{
				font-size: 1.6rem;
				margin: 0 15px;
				@media screen and (max-width: 559px){
					margin: 0 10px;
				}
				&:first-child{
					margin-left: auto;
				}
				&:last-child{
					margin-right: auto;
				}
			}
		}
	}
}
.paging_wrap_list{
	margin-top: 0;
	padding: 120px 0 180px;
	@media screen and (max-width: 559px){
		padding: 60px 0;
	}
}




.mgt05{margin-top: 5px!important}
.mgt10{margin-top: 10px!important}
.mgt15{margin-top: 15px!important}
.mgt20{margin-top: 20px!important}
.mgt25{margin-top: 25px!important}
.mgt30{margin-top: 30px!important}
.mgt35{margin-top: 35px!important}
.mgt40{margin-top: 40px!important}
.mgt50{margin-top: 50px!important}
.mgt60{margin-top: 60px!important}
.mgt65{margin-top: 65px!important}
.mgt75{margin-top: 75px!important}
.mgt80{margin-top: 80px!important}
.mgt100{margin-top: 100px!important}
.mgt130{margin-top: 130px!important}
.mgt150{margin-top: 150px!important}
.mgt180{margin-top: 180px!important}
.mgt200{margin-top: 200px!important}
.mgt250{margin-top: 250px!important}
.mgt350{margin-top: 350px!important}

.mgb05{margin-bottom: 5px!important}
.mgb10{margin-bottom: 10px!important}
.mgb15{margin-bottom: 15px!important}
.mgb20{margin-bottom: 20px!important}
.mgb25{margin-bottom: 25px!important}
.mgb30{margin-bottom: 30px!important}
.mgb35{margin-bottom: 35px!important}
.mgb40{margin-bottom: 40px!important}
.mgb50{margin-bottom: 50px!important}
.mgb150{margin-bottom: 150px!important}
.mgb200{margin-bottom: 200px!important}

.mgl05{margin-left: 5px!important}
.mgl10{margin-left: 10px!important}
.mgl15{margin-left: 15px!important}
.mgl20{margin-left: 20px!important}
.mgl25{margin-left: 25px!important}
.mgl30{margin-left: 30px!important}
.mgl35{margin-left: 35px!important}
.mgl40{margin-left: 40px!important}
.mgl50{margin-left: 50px!important}

.mgr05{margin-right: 5px!important}
.mgr10{margin-right: 10px!important}
.mgr15{margin-right: 15px!important}
.mgr20{margin-right: 20px!important}
.mgr25{margin-right: 25px!important}
.mgr30{margin-right: 30px!important}
.mgr35{margin-right: 35px!important}
.mgr40{margin-right: 40px!important}
.mgr50{margin-right: 50px!important}

.pdt150{padding-top: 150px!important}
.pdb120{padding-bottom: 120px!important}






.block{display: block}
.sp_block{display: none!important}
.sp_grid{display: none!important}
.sp_flex{display: none!important}
.sp_block_t,.sp_block_i,.sp_block_f{display: none!important}
.sp_block350{display: none!important}
.sp_block375{display: none!important}
.sp_block960{display: none!important}
.sp_block1050{display: none!important}
.sp_block1210{display: none!important}
.sp_flex1210{display: none!important}
.sp_flex960{display: none!important}
@media screen and (max-width: 1210px){
	.sp_block1210{display: block!important}
	.sp_flex1210{display: flex!important}
	.sp_none1210{display: none!important;}
}
@media screen and (max-width: 1050px){
	.sp_block1050{display: block!important}
}
@media screen and (max-width: 960px){
	.sp_block960{display: block!important}
	.sp_flex960{display: flex!important}
	.sp_none960{display: none!important;}
}
@media screen and (max-width: 559px){

	*{
		box-sizing: border-box;
	}
	img {
		max-width: 100%;
		height: auto;
	}
	.sp_none{
		display: none!important;
	}
	.sp_block{
		display: block!important;
	}
	.sp_grid{
		display: grid!important;
		display: -ms-grid!important;
	}
	.sp_flex{
		display: flex!important;
	}
	.sp_block_t{
		display: table!important;
	}
	.sp_block_f{
		display: flex!important;
	}
	.sp_block_i{
		display: inline!important;
	}
	a:hover, a:hover p, a:hover img, a:hover h2{
		opacity: 1;
		filter: alpha(opacity=100);
	}
}
@media screen and (max-width: 375px) {
	.sp_block375{display: block!important}
	.sp_none375{display: none!important}
}
@media screen and (max-width: 350px) {
	.sp_block350{display: block!important}
	.sp_none350{display: none!important}
}






@media screen and (max-width: 959px){
}
@media screen and (max-width: 559px){
}
@media screen and (max-width: 375px) {
}
@media screen and (max-width: 350px) {
}